main{
          width: fit-content;
          min-width: 80%;
          height: 90vh;
          
          margin: 0 auto;
          margin-top: 8vh;
    
          position: relative;
          z-index: 1;
          padding-top: 2%;
          border-radius: 1.5rem;
          background-color: rgb(236, 232, 232);;
          box-shadow:  rgba(5, 5, 5, 0.35) 0px 5px 15px;
          overflow-y: scroll;

        
}
main::-webkit-scrollbar{
          display: none;
}
#heading{
          font-size: 3rem;
          padding:0rem 3rem;
          position: fixed;
          top:50%;
          left: 0%;
          transform: rotate(270deg);
}
#float-window{
          position: absolute;
          border-radius: 1rem;
          padding:1rem;
          top:25%;
          width: 30%;
          left: 35%;
          min-height: 20rem;
          background-color: rgb(236, 232, 232);
          box-shadow: rgba(2, 2, 2, 0.35) 0px 5px 15px;
          opacity: 1!important;
          z-index: 5;
}
#cls-pop{
          font-size: 2rem;
          color: rgb(105, 103, 103);
          position: absolute;
          top:0;
          right: 0;
}
#cls-pop:hover{
          color:black;
}
.none{
          display: none!important;
}
.back-blur{
          opacity: 0.4;
         
          pointer-events: none;
}
@media (max-width:700px){
          main{
                    padding-top: 10%;
                    min-width: 95%;
          }
          #float-window{
                    width: 90%;
                    left: 5%;
          }
          #heading{
                    font-size: 3rem;
                    padding:0rem 3rem;
                    position: fixed;
                    top:10%;
                    left: 0%;
                    transform: rotate(0deg);
                    
                    

          }
}