.post-box{
          width: 30%;
          height: auto;
          display: flex;
          flex-direction: column;
          padding: 1rem;
          margin: 2rem auto;
          background-color: white;
          box-shadow: rgba(2, 2, 2, 0.35) 0px 5px 15px;
          border-radius:1rem;
          position: relative;
}
.post-box h2{
          font-size: 2rem;
          color:rgb(62, 8, 112);
          font-weight: 500;
}

.post-box p{
          font-size: 1.5rem;
          font-weight: 300;
          color:rgb(53, 52, 52);
          margin: 1.5rem;
}

.post-box span.button{
          display: flex;
          padding:0.5rem;
          border-radius: 2rem;
          align-items: center;
          font-size: 1.5rem;
          
        
          max-width: 50%;
          

}
.post-box span.button p{
          font-weight: 500;

}
/* .post-box span.button:hover{
          background-color: rgb(190, 167, 167);
} */
.post-box span.button i{
          font-size: 2rem;
          color: rgb(105, 103, 103);
          transition: 0.3s;
}
.post-box span.button i:hover{
          color: black;
}
@media (max-width:700px){
          .post-box{
                    width: 90%;
          }

}
